<!DOCTYPE html>
<html lang="en-us" ng-app="main">

<head>


    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-img-crop/compile/minified/ng-img-crop.css" />
    <!-- endbower -->
  <style>
    .cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:500px;
      height:350px;
    }
  </style>
</head>

<body>
    <!-- Main content -->
    <div class="container">
        <div ng-controller="MainController">
            <div class="button btn-success" ngf-select="upload($file)" accept="image/*" ngf-max-size="5MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Upload on file select</div>

            <img ngf-src="file">
        </div>

        <div ng-controller="CropController">
            <div>Select an image file:
                <input type="file" id="fileInput" />
            </div>
            <div class="cropArea">
                <img-crop image="myImage" result-image="myCroppedImage" on-change="onChange($dataURI)"></img-crop>
            </div>
            <div>Cropped Image:</div>
            <div><img ng-src="{{myCroppedImage}}" /></div>
            <button ng-click="save()">Save</button>
        </div> 

    </div>

    <!-- NOTE TO SHELDON: jquery and bootstrap are not required by ng-file-upload-->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <!-- endbower -->
    <script src="app.js"></script>

</body>

</html>